.ultimate-spin-wheel * {
  box-sizing: border-box;
}
.ultimate-spin-wheel {
  .ultimate-spin-wheel-welcome-hero-bg {
    background-image: linear-gradient(250deg, #8441a4 14%, #e052bd 100%);
    min-height: 500px;
    .ultimate-spin-wheel-welcome-hero-overlay {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center right;
      background-size: cover;
      opacity: 0.7;
      mix-blend-mode: multiply;
      transition:
        background 0.3s,
        border-radius 0.3s,
        opacity 0.3s;
    }
  }
}
.dark .ultimate-spin-wheel,
.dark #wpcontent {
  background: #1f2937;
}
.dark .ultimate-spin-wheel {
  .lb-tab li.lb-tab-active div:last-child {
    background: #1f2937;
    color: #fff;
  }
}

.linkboss-setup-wizard-step {
  li.active {
    &::after {
      border-color: #3949ab;
    }
  }
}
